<!-- placeholder nav bar for testing until OKTA integration, will replace when wireframe is approved-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Client Provisioning Tool</a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="#">Build Solution</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Admin</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">FAQ</a>
    </li>
  </ul>
  
  <div class="dropdown-menu" >
    <a class="dropdown-item" href="#"><i class="fa fa-user"></i>Templates</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#"><i class="fa fa-sign-out"></i>Logout</a>
  </div>

  <!-- placeholder login form -->
  <form  class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="text" name="username" placeholder="Username">
    <input class="form-control mr-sm-2" type="text" name="password" placeholder="Password">
    <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
  </form>
 
</nav>
